<ion-content fullscreen class="ion-padding bg3">
    <ion-grid class="h-100 align-center">
        <ion-row>
            <ion-col size="12">
                <ion-img class="logo" src="/assets/img/logos/logored.png"></ion-img>
            </ion-col>
            <ion-col size="12">
                <ion-img class="logo" src="/assets/img/icons/homeTacu.png"></ion-img>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <h3 class="text-gray">¡Hola, bienvenido!</h3>
                <p>Usa tu ubiación actual para encontrar taquerias cercanas y empieza a evaluarlas</p>
                <ion-button routerLink="/tabs/maps" expand="block" shape="round">
                    <ion-icon name="navigate-circle-outline"></ion-icon> <span style="margin-left: 0.2rem;">Empieza a evaluar</span></ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>