<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="Atrás" defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Cambio de contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Introduce el correo con el que te registraste, te enviaremos un link para cambiar tu contraseña.</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onChangePassword()">
                <ion-item>
                    <ion-label position="stacked">Correo</ion-label>
                    <ion-input formControlName="email" placeholder="Introduce tu correo"></ion-input>
                </ion-item>
                <!-- Errors -->
                <div *ngIf="showErrors(email)" class="mt-1">
                    <ion-text color="danger" class="ion-text-center" *ngIf="email.errors.required">
                        <p>El campo es requerido</p>
                    </ion-text>
                    <ion-text color="danger" class="ion-text-center" *ngIf="email.errors.email">
                        <p>Formato de correo inválido</p>
                    </ion-text>
                </div>
                <ion-button type="submit" class="mt-1" color="primary" expand="block" shape="round" [disabled]="!forgotPasswordForm.valid">Solicitar cambio</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>