ion-tabs {
    ion-fab {
        margin-bottom: env(safe-area-inset-bottom);
        /* fix notch ios*/
        ion-fab-button {
            --box-shadow: none;
            --background: #1d2542;
        }
    }
    ion-tab-bar {
        --border: 0;
        --background: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12) !important;
        min-height: 3.5rem;
        max-height: 3.5rem;
        &:after {
            content: " ";
            width: 100%;
            bottom: 0;
            //background: var(--ion-color-light);
            height: env(safe-area-inset-bottom);
            position: absolute;
        }
        ion-tab-button {
            //--background: white;
            //color: #1e2642;
        }
        svg {
            width: 72px;
            margin-top: 19px;
            path {
                fill: #1e2642;
            }
        }
    }
}