<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="faq">
            <ion-icon name="help-circle-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="taquerias">
            <ion-icon name="list-circle-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="maps">
            <ion-icon class="fill-red" src="assets/img/logos/tacoIndividual.svg" style="font-size: 3rem; padding-bottom: 0px;fill: brown !important;"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="ranking">
            <ion-icon name="star-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="profile">
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>