<ion-header>
    <ion-toolbar>
        <ion-title>Terminos y Condiciones</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onCloseModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-text class="ion-text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, porro praesentium eos nemo mollitia cumque tempore quos molestias hic dicta blanditiis quasi deserunt harum sit iste voluptatibus beatae repellat esse. Aliquid est eveniet
                    quidem! Quaerat eligendi nulla, labore adipisci assumenda minus possimus modi minima! Sunt in, illum, porro corporis necessitatibus quaerat modi itaque obcaecati saepe magni est dolorum, ipsa inventore. Perferendis, tempora laborum!
                    Ad saepe illum atque, debitis dicta et consectetur eos laborum magni est! Veniam, voluptatibus nulla adipisci quisquam consectetur excepturi eveniet et, officiis ipsam exercitationem eligendi placeat iure? Sed suscipit fugiat facilis
                    quae quos nostrum saepe eligendi a vel voluptate ipsum dolorem temporibus harum, ab aliquam ad, at alias earum possimus impedit reprehenderit soluta ipsam sequi tenetur? Ipsum. Illo illum architecto, ipsa minus soluta aspernatur ipsam,
                    debitis pariatur voluptates atque laboriosam quia repellendus quod vitae unde maiores! Sed sit vel nostrum, necessitatibus laborum voluptatibus neque dolore tempore eius? Molestias quos dignissimos quo voluptate labore aspernatur esse
                    obcaecati facilis, soluta, dolorem velit enim aliquam ipsam odio omnis. Doloremque officiis dolor vel minima voluptatem, aliquid consectetur facilis et. Ullam, tempora? Voluptatum animi quos obcaecati velit ex, recusandae vero ea eaque
                    voluptatibus quis voluptatem odit at blanditiis sed cumque impedit saepe numquam aliquid id amet laudantium veritatis pariatur. Repellendus, explicabo veniam! Enim totam iste eveniet laudantium consequatur quae eum error, aut dolores
                    voluptatibus nam numquam explicabo accusamus assumenda sit et nisi! Numquam alias vel animi accusantium officiis accusamus dolor, enim nulla! Impedit quam, eos ipsa hic nostrum dicta! Eius, commodi et eos sapiente, eaque laudantium,
                    optio molestias minus fuga quos unde praesentium incidunt fugiat quas totam. Ratione a harum facere voluptatum. Soluta ea veniam amet qui laboriosam doloremque repudiandae modi, vitae est, harum nesciunt sed quidem debitis, culpa cupiditate
                    dolor quibusdam iusto unde ullam in? Quibusdam totam at autem? Rem, pariatur? Neque corrupti enim quam esse incidunt, illo aliquid magnam, culpa illum aspernatur reiciendis vero cum tenetur reprehenderit dicta? Sint corrupti magnam
                    hic quasi repellat voluptatem consectetur eos nesciunt, non voluptatum? Veritatis aut minima reiciendis necessitatibus voluptatum laudantium, hic culpa itaque fugiat autem, rerum in tempore porro? Blanditiis quaerat nemo ex obcaecati,
                    temporibus atque sunt? Enim voluptatem explicabo molestiae nam dignissimos. Repudiandae commodi est sapiente et omnis vitae dolor quae libero, necessitatibus animi, neque eligendi rerum officia consectetur magni eum optio earum voluptate
                    pariatur numquam, quas obcaecati cupiditate iusto voluptatum. A. Blanditiis eveniet saepe quod repudiandae inventore ipsa deserunt nihil deleniti, doloremque voluptatem id fuga placeat quas vero debitis mollitia aliquid commodi numquam
                    quis fugiat tenetur totam nemo quibusdam ab! Fuga. Natus tenetur iusto omnis reiciendis architecto enim ipsa labore animi laudantium eos ea rem, ex nostrum quibusdam similique perspiciatis quae ullam inventore repudiandae, quidem odio
                    velit? Iusto quos impedit recusandae! Ex, consequuntur sequi repellat enim sunt natus quos minima harum, doloribus dolores corrupti nihil explicabo, rem perferendis voluptatum eius delectus ad consequatur quaerat modi atque. Atque
                    error exercitationem cumque voluptatum? Corporis fuga iste doloribus vero esse animi impedit eveniet culpa pariatur, autem consequuntur officia excepturi sequi voluptas architecto perspiciatis deserunt, dolores odio cum molestias eligendi.
                    Dignissimos cumque nobis quis qui. Facere eveniet adipisci vitae dolorem cum sit veniam cumque neque, consectetur laborum quas natus, ipsa fuga, voluptatibus nisi minus saepe numquam! Earum cum ea natus quidem similique atque commodi
                    nobis? Facilis dolorum perferendis eveniet ducimus ab nemo dicta. Minima, molestias odio adipisci maxime fuga id sit! Sed hic aspernatur doloribus ipsa at id aut iste eius pariatur, laborum voluptatem architecto? Reiciendis nemo fuga
                    quidem cum maiores veritatis fugiat minima. Minima excepturi minus eum mollitia. Accusamus modi, non autem veniam ducimus veritatis, voluptas animi quisquam eaque libero ea quaerat iusto cumque?
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>